.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border-radius: 5px;
  background: lightgray;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.Daily-weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Time-block {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.Weather-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Temp-toggle-button {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.toggle-active {
  border-bottom: 4px solid red;
}